{% extends "questions.html" %}
<!-- index.html -->
{% load general_sidebar_tags %}
{% load question_list_tags %}
{% load i18n %}
{% block fulltitle %}{{ settings.APP_TITLE }}{% endblock %}
{% block sidebar %}
{% question_list_categories questions.paginator.page category list_type %}
 {% question_list_related_tags questions.paginator.page %}
    {% include "question_list/count.html" %}
    {% sidebar_upper %}
    {% if request.user.is_authenticated %}
        {% tag_selector %}
    {% endif %}
    {% sidebar_lower %}
    {% recent_tags %}
    {% recent_awards %}
{% endblock %}
<!-- index.html -->

