{% load i18n extra_tags email_tags node_tags %}

{% declare %}
    prefix = html.mark_safe(smart_str(settings.EMAIL_SUBJECT_PREFIX))
    app_name = smart_str(settings.APP_SHORT_NAME)
    safe_app_name = html.mark_safe(smart_str(settings.APP_SHORT_NAME))
    answer_author = html.mark_safe(smart_str(answer.author.username))
    question_title = html.mark_safe(smart_str(question.title))
    author_link = html.objlink(answer.author, style=settings.EMAIL_ANCHOR_STYLE)
    question_link = html.objlink(question, style=settings.EMAIL_ANCHOR_STYLE)
    category_name = html.mark_safe(smart_str(question.category_name()))
    exclude_finetune = True
{% enddeclare %}

{% email %}
    {% subject %}{% blocktrans %}{{ prefix }} [{{ safe_app_name }}] New answer to: "{{ question_title }}" under category "{{ category_name }}" {% endblocktrans %}{% endsubject %}
    {% htmlcontent notifications/base.html %}
        <p style="{{ p_style }}">
            {% blocktrans %}
                    {{ author_link }} has just posted below answer on {{ app_name }} to the question {{ question_link }}:
			under category "<em>{{ category_name }}</em>". 


            {% endblocktrans %}
        </p>

        <blockquote>
        {{ answer.html|safe }}
        </blockquote>

	<div width="100%" >
        	{% include "notifications/question_detail.html" %}
	</div>
         <br>
        <p style="{{ p_style }}">{% trans "Don't forget to come over and cast your vote." %}</p>
    {% endhtmlcontent %}

{% textcontent notifications/base_text.html %}
{% blocktrans %}
{{ answer_author }} has just posted a new answer on {{ safe_app_name }} to the question
"{{ question_title }}":


			under category "<em>{{ category_name }}</em>". 
{% endblocktrans %}
{{ safe_body }}

{% trans "Don't forget to come over and cast your vote." %}
{% endtextcontent %}

{% endemail %}

