{% load i18n extra_tags email_tags node_tags %}
{% declare %}
    question_body = html.mark_safe(smart_str(question.body))
{% enddeclare %}


           <table border = "1"  style ="width:100%;border:2px #98cee1 solid;padding: 15px;margin:10px auto 10px auto;text-align:left;">

			<tr><td>
				<h3> Question : </h3> </td></tr>

                     	<tr >
                         	<td style="background:#98cee1;">
                         		{{ question_body }}
			 	</td>
                     	</tr>
                     	<tr >
                         	<td style="background:#98cee1;">
                                      <div align = right >
					{% emailcomments question question.author %}
                                      </div>
				</td>
			</tr>
	</table>
 			<table border = "1"  style ="width:100%;border:2px #a1b2c3 solid;padding: 15px;margin:10px auto 10px auto;text-align:left;">
			<tr><td>
				<h3> Answers : </h3>
			    </td>
                        </tr>

            {% for answer in answers reversed %}

                     	<tr>
                         	<td  style=" background:{% cycle #FFFFCC,#E9E9FF %} ">
                		 [ {{ answer.added_at }} ]&nbsp;{{ answer.author|safe }}&nbsp;&nbsp;{{ answer.body|safe }}
			 	</td>
                     	</tr>
                     	<tr>
                         	<td  style="background:#98cee1;">
				<div align = right >
				{% emailcomments answer answer.author %}
				</div>
			 	</td>
                     	</tr>
            {% endfor %}

	</table>
