markdown==2.4.1
html5lib
python-openid
South
python-memcached
django==1.6.0
django-debug-toolbar
django-endless-pagination
pytz
dj_database_url
psycopg2==2.5.3
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.0.0
static3==0.5.1
wsgiref==0.1.2
django-wmd
beautifulsoup4