{% load i18n %}
{% load humanize %}

{% if categories %}
    <div style="margin-bottom:10px">
        <h3 class="subtitle">{% trans "Categories" %}</h3>
        <div id="navigation">
        <ul>
            {% for category in categories %}


{% ifequal category.pk selected_category.pk %}
	   <li class="active">
{% else %}
	<li>
{% endifequal %}

    <a href="{{list_type|urlencode }}/category/{{category.id|urlencode}}" title="{% trans 'see questions under category:' %} {{ category }}  {% trans 'under Category' %}" rel="tag">
{{ category }}
    </a>
            </li>
{% endfor %}
       </ul>
       </div>
    </div>
{% endif %}
